*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    padding: 0;
    margin: 0;
    background-image: url("pic.img/body.jpeg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.placeholder{
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0 ;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


